@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 18px;
  background: #666;
  color: #999;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: .5em auto 0;
  padding: .25em 1.5em 1.5em;
  background: #606060;

  a {
    color: white;
  }
}
