@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

body,
html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 18px;
  background: #333;
  color: #999;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 40% auto;

  a {
    color: white;
  }
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}
